*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.5vw;
}

body {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: initial;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: center;
  padding-top: 2.9166666667vw;
  height: 10.5555555556vw;
}

#main {
  padding: 0 6.9444444444vw;
}

i {
  display: inline-block;
}

.icon-logo {
  width: 18.6111111111vw;
  height: 6.4583333333vw;
  mask: url("../assets/svg/logo.svg") no-repeat;
  mask-size: 18.6111111111vw 6.4583333333vw;
  -webkit-mask: url("../assets/svg/logo.svg") no-repeat;
  -webkit-mask-size: 18.6111111111vw 6.4583333333vw;
  background-color: #D04F4F;
}

.icon-magnifying-glass {
  width: 2.2263888889vw;
  height: 2.2263888889vw;
  mask: url("../assets/svg/magnifying-glass.svg") no-repeat;
  mask-size: 2.2263888889vw 2.2263888889vw;
  -webkit-mask: url("../assets/svg/magnifying-glass.svg") no-repeat;
  -webkit-mask-size: 2.2263888889vw 2.2263888889vw;
  background-color: #000;
}

.icon-circle-xmark {
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  mask: url("../assets/svg/circle-xmark.svg") no-repeat;
  mask-size: 1.3888888889vw 1.3888888889vw;
  -webkit-mask: url("../assets/svg/circle-xmark.svg") no-repeat;
  -webkit-mask-size: 1.3888888889vw 1.3888888889vw;
  background-color: #FFF;
}

.icon-chevron-down {
  width: 1.1111111111vw;
  height: 0.6861111111vw;
  mask: url("../assets/svg/chevron-down.svg") no-repeat;
  mask-size: 1.1111111111vw 0.6861111111vw;
  -webkit-mask: url("../assets/svg/chevron-down.svg") no-repeat;
  -webkit-mask-size: 1.1111111111vw 0.6861111111vw;
  background-color: #FFF;
}

.icon-clock {
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  mask: url("../assets/svg/magnifying-glass.svg") no-repeat;
  mask-size: 1.3888888889vw 1.3888888889vw;
  -webkit-mask: url("../assets/svg/clock.svg") no-repeat;
  -webkit-mask-size: 1.3888888889vw 1.3888888889vw;
  background-color: #000;
}

#search {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 0.3472222222vw;
  padding-top: 1.2152777778vw;
  padding-left: 1.6666666667vw;
  padding-right: 1.1416666667vw;
  padding-bottom: 1.3493055556vw;
  height: 4.7916666667vw;
  background-color: #E7E7E7;
}

#search .icon-circle-xmark {
  width: 2.2263888889vw;
  height: 2.2263888889vw;
  mask-size: 2.2263888889vw 2.2263888889vw;
  -webkit-mask-size: 2.2263888889vw 2.2263888889vw;
  background-color: #000;
}

#searchbar {
  outline: none;
  margin-right: 1.1416666667vw;
  border: none;
  width: 100%;
  background-color: #E7E7E7;
  opacity: 0.25;
}

#recipes {
  display: grid;
  grid-template-columns: repeat(3, 26.3888888889vw);
  justify-content: space-between;
  row-gap: 3.4722222222vw;
  margin-bottom: 3.4722222222vw;
}

.recipe-card {
  border-radius: 0.3472222222vw;
  width: 26.3888888889vw;
  height: 25.2777777778vw;
  background-color: #E7E7E7;
}

.recipe-card.none {
  display: none;
}

.card-image {
  border-top-left-radius: 0.3472222222vw;
  border-top-right-radius: 0.3472222222vw;
  width: 26.3888888889vw;
  height: 12.3611111111vw;
  background-color: #C7BEBE;
}

.recipe-card figcaption {
  display: grid;
  grid-template-columns: repeat(2, 11.875vw);
  grid-template-rows: 1.5277777778vw 7.5694444444vw;
  row-gap: 1.3888888889vw;
  padding: 1.3888888889vw;
}

.card-name {
  overflow: hidden;
  width: 16.6666666667vw;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.4861111111vw;
  font-weight: 700;
}

.card-ingredients li {
  font-size: 0.8333333333vw;
  line-height: 1vw;
}

.card-ingredients .ingredient {
  font-size: 0.8333333333vw;
  font-weight: 700;
  line-height: 1vw;
}

.card-description {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: 5vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.8333333333vw;
  line-height: 100%;
}

#recipes .empty {
  display: none;
  grid-column: 1/4;
}

#recipes .empty.show {
  display: block;
}

#filters {
  display: flex;
  column-gap: 1.3888888889vw;
  padding-top: 1.3888888889vw;
  padding-bottom: 5.6944444444vw;
}

.filter {
  position: relative;
  border-radius: 0.3472222222vw;
  width: 11.8055555556vw;
  height: 4.7916666667vw;
  color: #FFF;
  cursor: pointer;
  transition: width 0.3s ease-out;
}

.filter-ingredients {
  background-color: #3282F7;
}

.filter-appliances {
  background-color: #68D9A4;
}

.filter-ustensils {
  background-color: #ED6454;
}

.filter form {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6666666667vw 1.5277777778vw;
  cursor: pointer;
}

.filter label {
  font-weight: 700;
}

.filter .icon-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.filter input {
  display: none;
  border: none;
  padding: 0;
  width: 95%;
  background-color: inherit;
  color: inherit;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5vw;
}

.filter input::placeholder {
  color: #fff;
  opacity: 0.25;
}

.filter .filter-list {
  position: absolute;
  top: 3.8194444444vw;
  z-index: 100;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0);
  display: none;
  flex-wrap: wrap;
  border-color: transparent;
  border-style: solid;
  border-width: 0.7638888889vw 0.9722222222vw;
  border-radius: 0 0 0.3472222222vw 0.3472222222vw;
  width: 100%;
  max-height: 23.75vw;
  background-color: inherit;
}

.filter .filter-list::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.filter .filter-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

.filter .filter-item {
  overflow: hidden;
  padding: 0.3472222222vw;
  width: 33.3333333333%;
  font-size: 1.25vw;
  line-height: 1.5vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.filter.show {
  border-radius: 0.3472222222vw 0.3472222222vw 0 0;
  width: 46.3194444444vw;
  height: auto;
}

.filter.show input {
  display: block;
}

.filter.show label, .filter-item.none, .filter-item.not {
  display: none;
}

.filter.show .filter-list {
  display: flex;
}

.filter-item.active {
  pointer-events: none;
  opacity: 0.25;
}

.filter.show .icon-chevron-down {
  transform: rotate(180deg);
}

#keywords {
  display: none;
  padding-top: 1.7361111111vw;
}

#keywords .keyword-list {
  display: flex;
  column-gap: 0.9722222222vw;
}

#keywords .keyword-list {
  margin-right: 0.9722222222vw;
}

#keywords .keyword-item {
  display: inline-flex;
  column-gap: 0.9027777778vw;
  border-radius: 0.3472222222vw;
  padding: 0.6944444444vw 1.4583333333vw;
  color: #fff;
  font-size: 0.9722222222vw;
  font-weight: 700;
  line-height: 1.1666666667vw;
}

#keywords .keyword-item-ingredients {
  background-color: #3282f7;
}

#keywords .keyword-item-appliances {
  background-color: #68d9a4;
}

#keywords .keyword-item-ustensils {
  background-color: #ed6454;
}

#keywords.show {
  display: flex;
}

#keywords.show + #filters {
  padding-top: 1.0416666667vw;
  padding-bottom: 1.7361111111vw;
}

/*# sourceMappingURL=index.css.map */
