#search {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: get-vw($desktop, 5px);
  padding-top: get-vw($desktop, 17.5px);
  padding-left: get-vw($desktop, 24px);
  padding-right: get-vw($desktop, 16.44px);
  padding-bottom: get-vw($desktop, 19.43px);
  height: get-vw($desktop, 69px);
  background-color: #E7E7E7;
}

#search .icon-circle-xmark {
  width: get-vw($desktop, 32.06px);
  height: get-vw($desktop, 32.06px);
  mask-size: get-vw($desktop, 32.06px) get-vw($desktop, 32.06px);
  -webkit-mask-size: get-vw($desktop, 32.06px) get-vw($desktop, 32.06px);
  background-color: #000;
}

#searchbar {
  outline: none;
  margin-right: get-vw($desktop, 16.44px);
  border: none;
  width: 100%;
  background-color: #E7E7E7;
  opacity: .25;
}